
  
  
  <div class="row">
    <div class="ten columns">
      <div class="field">  
          <ul>       
            <%= form_for(@restaurant, :class=>"rest-update-form", :remote=>true) do |f| %>
                <div class="errors"></div>
      
                <%= f.label :name, for: "res-name", class: "inline" %>
                <%= f.text_field :name, id: "res-name", placeholder: "restaurant name", class: "input" %>
<<<<<<< HEAD
              </li>
              

              <li class="field">
                <%= f.label :address, for: "res-address", class: "inline"  %>
                <%= f.text_field :address,  id: "res-address", placeholder: "restaurant address", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :city, for: "res-city", class: "inline"  %>
                <%= f.text_field :city,  id: "res-city", placeholder: "restaurant city ", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :postal_code, for: "res-postal_code", class: "inline" %>
                <%= f.text_field :postal_code,  id: "res-postal_code", placeholder: "postal code", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :cuisine, class: "inline" %>
                <div class="picker">
                 <%= f.collection_select(:genre_ids, Genre.all, :id, :cuisine, :prompt => true) %>
               </div>
              </li>

              <li class="field">
                <label class="inline"><%= f.label :price_range %></label>
                <div class="picker">
                    <%= f.select :price_range, Restaurant.price_ranges, :prompt => true %>
=======
                <br><br>
                <%= f.label :address, for: "res-name", class: "inline"  %>
                <%= f.text_field :address,  id: "res-name", placeholder: "restaurant address", class: "input" %>
                <br><br>
                <%= f.label :city, for: "res-name", class: "inline"  %>
                <%= f.text_field :city,  id: "res-name", placeholder: "restaurant city ", class: "input" %>
                <br><br>
                <%= f.label :postal_code, for: "res-name", class: "inline" %>
                <%= f.text_field :postal_code, id: "res-name", placeholder: "postal code", class: "input" %>
                <br><br>
                <%= f.label "Upload an Image" %>
                <%= f.file_field :restaurant_picture %>
                <br><br>
                <div class="five columns">
                <%= f.label :price_range %>
                <%= f.select :price_range, options_for_select(["$", "$$", "$$$", "$$$$", "$$$$$",]) %>
>>>>>>> 74039c72f6a19f7261bc706af67ea3f42a2ac45f
                </div>
                
                <br>
                <div class="ten columns">
                <%= f.submit class: "medium metro rounded btn default", type: "submit"  %>
            <% end %>
          </ul>
    </div>
  </div>
</div>