<h1> Form </h1>

<%= form_for(@restaurant) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br/>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br/>
  <%= f.label :postal_code  %>
  <%= f.text_field :postal_code %>
  <br/>
  <%= f.label :cuisine %>
  <%= f.collection_select(:genre_ids, Genre.all, :id, :cuisine, :prompt => true) %>
  <br />
  <%= f.label :price_range %>
  <%= f.collection_select(:genre_ids, Genre.all, :id, :price_range, :prompt => true) %>
  <br />
  <%= f.submit %>
<% end %>