<h2> Add new Restaurant</h2>

  <div class="row">
    <div class="eight columns">
      <div class="field">  
        <%= form_for(@restaurant) do |f| %>
          <ul>       
              <li class="field">
                <%= f.label :name, for: "res-name", class: "inline" %>
                <%= f.text_field :name, id: "res-name", placeholder: "restaurant name", class: "input" %>
              </li>
              <li class="field">
                <%= f.label :address, for: "res-name", class: "inline"  %>
                <%= f.text_field :address,  id: "res-name", placeholder: "restaurant address", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :city, for: "res-name", class: "inline"  %>
                <%= f.text_field :city,  id: "res-name", placeholder: "restaurant city ", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :postal_code, for: "res-name", class: "inline" %>
                <%= f.text_field :postal_code,  id: "res-name", placeholder: "postal code", class: "input" %>
              </li>

              <li class="field">
                <%= f.label :cuisine, for: "res-name", class: "inline" %>
                <div class="picker">
                 <%= f.collection_select(:genre_ids, Genre.all, :id, :cuisine, :prompt => true) %>
               </div>
              </li>
              
              <li class="field">
                <%= f.label :price_range, for: "res-name", class: "inline" %>
                <div class="picker">
                  <%= f.collection_select(:genre_ids, Genre.all, :id, :price_range, :prompt => true) %>
                </div>
              </li>

              <li class="field">
                <label class="inline" for="res-name"><%= f.label :category %></label>
                <div class="picker">
                  <%= f.collection_select(:genre_ids, Genre.all, :id, :tag, :prompt => true) %>
                </div>
              </li>
              <%= f.submit class: "medium metro rounded btn default", type: "submit"  %>
          </ul>
        <% end %>
    </div>
  </div>
</div>