<h2> All Restaurants </h2>

<% @restaurants.each do |restaurant| %>
	
		<div class="restaurant_wrapper">

	    <div class="seven columns">	
	      <h3><%= link_to(restaurant.name, restaurant)  %></h3>
	<!--       <p><%= restaurant.address %></p>
	      <p> <%= restaurant.city %></p>
	      <p><%= restaurant.postal_code %></p> -->
	    </div>
	 
		</div>

		<%= link_to " Edit ", edit_restaurant_path(:id), class: "medium metro rounded btn default" %>
		
		<%= link_to " Delete ", @restaurant, :confirm => "Are you sure you want to delete this restaurant?",:method => :delete %>

	
	<% end %>
	<div class="bottombar" style="min-width:100%; background-color:grey; position: absolute; top:100%">
	<button><%= link_to(" Create a Restaurant ", new_restaurant_path )%></button>
	</div>
