<h2> All Restaurants </h2>

<% @restaurants.each do |restaurant| %>
	
		<div class="restaurant_wrapper">

	    <div class="seven columns">	
	      <h3><%= link_to(restaurant.name, restaurant)  %></h3>
	<!--       <p><%= restaurant.address %></p>
	      <p> <%= restaurant.city %></p>
	      <p><%= restaurant.postal_code %></p> -->
	    </div>
	 
		</div>
	<% end %>
	<div class="bottombar" style="min-width:100%; background-color:grey; position: absolute; top:100%">
	<button><%= link_to(" Create a Restaurant ", new_restaurant_path )%></button>
	</div>