<h1> Index View: Restaurants </h1>

<%= link_to("Create a Restaurant", new_restaurant_path) %>

<% @restaurants.each do |restaurant| %>
  <br/>
  <%= restaurant.name  %>
  <br/>
  <%= restaurant.address %>
  <br/>
  <%= restaurant.city %>
  <br/>
  <%= restaurant.postal_code %>
  <br/>
<% end %>
