<h2> All Restaurants </h2>

<% @restaurants.each do |restaurant| %>
	
		<div class="row">

	    <div class="five columns">	
	      <h3><%= link_to(restaurant.name, restaurant)  %></h3>
	      <p><%= restaurant.address %></p>
	      <p> <%= restaurant.city %></p>
	      <p><%= restaurant.postal_code %></p>
	    </div>
	 
	      <div class="seven columns">					
					<div id="map_canvas">
						<iframe width="540" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;sll=37.0625,-95.677068&amp;sspn=48.15347,93.076172&amp;ie=UTF8&amp;t=m&amp;ll=43.651975,-79.381714&amp;spn=1.907779,3.515625&amp;z=8&amp;iwloc=A&amp;output=embed">							
						</iframe>
					</div>
	    	</div>
		</div>

		<%= link_to " Edit ", edit_restaurant_path(:id), class: "medium metro rounded btn default" %>
		
		<%= link_to " Delete ", @restaurant, :confirm => "Are you sure you want to delete this restaurant?",:method => :delete %>

	
	<% end %>
	<%= link_to(" Create a Restaurant ", new_restaurant_path, class: "medium metro rounded btn default") %>

