<h1 class="rest_name"><%= @restaurant.name %></h1>

<div class="five columns">
  <%= @restaurant.address %>
  <br/>
  <%= @restaurant.city %>
  <br/>
  <%= @restaurant.postal_code %>
  <br/>
  Price Range: <%= @restaurant.price_range %>
  <br/>
</div>
<div class="six columns">
  <%= image_tag @restaurant.restaurant_picture if @restaurant.restaurant_picture? %>
</div>
</div>

<% if current_user.nil? %>
  <%= link_to("You must login to create a reservation", new_session_path) %>
<% else %>
  <%= render "/shared/errors", :object_type=>@reservation %>
  <div class="reservation_form">
  <%= form_for [@restaurant, @reservation] do |f| %>
  <%= f.label "Party Size" %>
  <%= f.select("party_size", (1..10).map {|i| [ "#{i} people", i ] }) %>
  <%= f.label "Reservation Day" %>
  <%= f.text_field :reserved_day %>
  <%= f.label "Reservation Time" %>
  <%= f.select("reserved_time", @restaurant.time_slots) %>
  <%= f.label "Notes" %>
  <%= f.text_area :notes %>
  <%= f.submit %>
  <% end %>
  </div>
<% end %>



<button><%= link_to("Back to Home Page", restaurants_path) %></button>
<button><%= link_to("Edit Product", edit_restaurant_path(@restaurant) )  %></button>