<h1 class="rest_name"><%= @restaurant.name %></h1>

<div class="rest_address">
<%= @restaurant.address %>
<br/>
<%= @restaurant.city %>
<br/>
<%= @restaurant.postal_code %>
<br/>
</div>

<div class = "rest_tags">
<% tags = @restaurant.genres.first %>
Cuisine: <%= tags.cuisine.titleize unless tags.cuisine.nil?%><br/>
Price Range <%= tags.price_range.titelize unless tags.price_range.nil? %>
</div>


<button><%= link_to("Back to Home Page", restaurants_path) %></button>
<button><%= link_to("Edit Product", edit_restaurant_path)  %></button>