<h1 class="rest_name"><%= @restaurant.name %></h1>

<div class="rest_address">
  <%= @restaurant.address %>
  <br/>
  <%= @restaurant.city %>
  <br/>
  <%= @restaurant.postal_code %>
  <br/>
  Price Range: <%= @restaurant.price_range %>
  <br/>
  
  Cuisine type: <%= @restaurant.genres.map{|g| g.cuisine }.inspect %> 
</div>



<button><%= link_to("Back to Home Page", restaurants_path) %></button>
<button><%= link_to("Edit Product", edit_restaurant_path)  %></button>