<h1> Show Restaurants </h1>

<% params[:id]%>
<br/>
<%= @restaurant.name %>
<br/>
<%= @restaurant.address %>
<br/>
<%= @restaurant.city %>
<br/>
<%= @restaurant.postal_code %>
<br/>


<%= link_to("Back to Home Page", restaurants_path) %><br />
<%= link_to("Edit Product", edit_restaurant_path)  %>